/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@400;600;700;900&family=Noto+Serif+Lao:wght@200&family=Oswald:wght@200;300&display=swap');

*{
    font-family: 'Noto Sans Lao', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

    /* nav */
nav{
    background-color:#060606;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    z-index: 999;
}
nav .logo img {
    width: 50px;
    height: 35px;
}
nav .logo{
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}
nav .manu ul{
    display: flex;
    margin-left: 200px;
}
nav .manu li{
    margin-left: 30px;
    list-style: none;
}
nav .manu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.80rem;
    padding: 0px 20px;
    border-radius: 30px;
    position:relative;
}

/* nav Hover */
nav .logo:hover::after{
    transform: translate(-5px, -5px);
}
nav .logo:hover::before{
    transform:translate(5px ,5px);
}
nav .logo:after,.logo::before{
    content:"";
    border: 1px solid #fff;
    position:absolute;
    border-radius:inherit;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.25s ease;
}

/* nav hover ba */
nav:hover{
    box-shadow: 10px -10px 25px 0px rgba(111, 13, 239, 0.5), -10px 10px 25px 0px rgba(14, 180, 235, 0.5);
}
nav .manu ul li a:after{
    content:'';
    position:absolute;
    width: 10%;
    opacity:0;
    height: 5px;
    background-image:linear-gradient(to right,#2aba4d,#12a2af);
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
    border-radius:20px;
    transition:0.4s;
}

/* nav manu ba */
nav .manu ul li a:hover{
    background-image: linear-gradient(225deg,#27d86c 0%, #26caf8 50%,#c625d0 100%);
    box-shadow: 10px -10px 25px 0px rgba(143,64,248,0.5), -10px 10px 25px 0px rgba(39,200,255,0.5);

}
nav .manu ul li  a:hover:after{
    width: 50%;
    height: 5px;
    opacity:1;
}


/* bars 980px 600px */
nav .bars{
    width: 40px;
    height: 40px;
    color:#FFFFFF;
    font-size: 1.5em;
    display: none;
}



/* ul li don down */
nav .manu ul li .box{
    display: none;
    padding: 10px 20px;
}
.bjo{
    position: relative;
}
nav .manu ul li .x-box-22,nav .manu ul li:hover .box{
    text-align: center;
    background-color:inherit;
    display: block;
    position: absolute;
    display: flex;
    right: -150px;
    padding-top: 10px;
    background-color: #000000;
}
nav .manu ul li .x-box-22 a,nav .manu ul li:hover .box a{
    text-decoration: none;
    color:#ffffff;
    font-size: 0.85em;
    border-radius: 10px;
    transition: all 0.50s ease;
    font-size: 0.80em;
    display:block;
    width: 200px;
    margin-top: 10px;
}
nav .manu ul li .box a:hover{
    transform: scale(1.2,1.5);
    transition: all 1s ease;
}
nav .manu ul li .x-box-22 .a-1 a,nav .manu ul li:hover .box .a-1 a{
    text-align: left;
}
nav .manu ul li .x-box-22 .a-2 a,nav .manu ul li:hover .box .a-2 a{
    text-align: left;
}
.x-box-22 a:after{
    content:'';
    position:absolute;
    width: 10%;
    opacity:0;
    height: 10px;
    background-image:linear-gradient(to right,#2aba4d,#12a2af);
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
    border-radius:50%;
    transition:0.4s;
}
.x-box-22 a:hover:after{
    width: 50px;
    height: 10px;
    opacity:1;
}
.x-box-22 a:hover{
    background-image: linear-gradient(225deg,#27d86c 0%, #26caf8 50%,#c625d0 100%);
    box-shadow: 10px -10px 25px 0px rgba(143,64,248,0.5), -10px 10px 25px 0px rgba(39,200,255,0.5);
    transition: all 0.50s ease;
}


nav .manu ul li .box-2223{
    text-align: center;
    position: fixed;
    display: none;
    padding-top: 10px;
    background-color: #000000;
}
nav .manu ul li .box-2223 a,nav .manu ul li:hover .box-2223 a{
    display:block;
    margin-top: 10px;
}
nav .manu ul li .img{
    position: absolute;
    text-align: center;
    position: fixed;
    display: block;
    top: 50px;
}
nav .manu ul li:hover .box-2223{
    display: block;
    text-align: center;
    position: fixed;
}
/* mousey */
.scroll-downs{
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 34px;
    height: 55px;
}
.mousey{
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller{
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color:#000000;
    
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.15,.41,.69,94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }

}
/* main */
main .box-1{
    text-align: center;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}
main .box-1 .title{
    font-size: 2.2em;
    font-weight: bold;
    position: absolute;
    background: linear-gradient(123deg, rgb(0, 0, 0), rgb(249, 0, 212) ,rgb(119, 0, 255));
    width: 100%;
    top: 20px;
    color: white;
    transform: skew(10deg, 5deg);
    box-shadow: 5px 5px 50px 5px rgb(2, 231, 252);
    animation: titlesali 2s;
    border-radius: 10px;
    border: none;
    z-index: 1;
}
@keyframes titlesali {
    0% {
        left: -500px;
        height: 5px;
        font-size: 1px;
        transform: skew(0deg, 0deg);
    }
    85% {
        left: 10px;
        height: 5px;
        font-size: 1px;
        transform: skew(0deg, 0deg);
    }100% {
        left: 0px;
    }

}

main .box-1 .img {
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
}
main .box-1 .img .btn-img-1, main .box-1 .img .btn-img-2 {
    background: none;
    border: none;
    font-size: 1.2em;
    font-weight: bolder;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px 20px;
    position: absolute;
    top: 50%;
    border: 1px solid rgb(255, 0, 204);
    color: #c625d0;
    cursor: pointer;
}
main .box-1 .img .btn-img-1 {
    left: -70px;
    animation: btn-img-1 2s infinite;
}
main .box-1 .img .btn-img-1:hover{
    background: red;
    color: #fff;
    transition: all 1s ease;
    animation: none;
}
main .box-1 .img .btn-img-2:hover{
    background: green;
    color: #fff;
    transition: all 1s ease;
    animation: none;
}
@keyframes btn-img-1 {
    0% {
       left: -50px; 
    } 50% {
       left: -70px;
    }100% {
        left: -50px;
    }
}
main .box-1 .img .btn-img-2 {
    right: -70px;
    animation: btn-img-2 2s infinite;
}
@keyframes btn-img-2 {
    0% {
        right: -50px;
    }50% {
        right: -70px;
    }100% {
        right: -50px
    }
}

main .box-1 .img img {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
}
main .box-1 .img .imgsliter-right {
    animation: img-sqli-right 0.80s;
}
@keyframes img-sqli-right {
    0% {
        right: -100px;
        opacity: 0;
    } 100% {
        right: 0;
    }
}
main .box-1 .img .imgsliter-left {
    animation: img-sqli-left 0.80s;
}
@keyframes img-sqli-left {
    0% {
        left: -100px;
        opacity: 0;
    } 100% {
        left: 0;
    }
}
main .box-1 .text-ba {
    position: relative;
    top: 300px;
    color:rgb(249, 0, 212);
    font-size: 1.2em;
    font-weight: bolder;
}

main .contnet{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 100px;
    padding: 50px;
}
main .box-2 .apple{
    text-align: center;
    margin-bottom: 50px;
    font-size: 80px;
}
main .box-2 .apple .fa-apple{
    animation: fontapple 4s infinite;
}
@keyframes fontapple {
    0% {
        text-shadow: rgb(255, 0, 191) 15px 15px 40px;
    }50% {
        text-shadow: rgb(255, 0, 191) -15px -15px 40px;
    }100% {
        text-shadow: rgb(255, 0, 191) 15px 15px 40px;
    }
}


main .box-2 .us{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
main .box-2 .us .title-1{
    border-bottom:2px solid #060606;
    border-right:2px solid #060606;
    padding: 0 10px;
    text-align: center;
}
main .box-2 .us .title-1 .fa-mobile-screen-button {
    font-size: 40px;
}
main .box-2 .us .title-2{
    text-align: center;
    padding: 0 10px;
    font-size: 1.2em;
    border-bottom:2px solid #060606;
    border-right:2px solid #060606;
}
main .box-2 .us .title-2 .bi-camera{
    font-size: 40px;
}
main .box-2 .us .title-3{
    border-bottom:2px solid #060606;
    padding: 0 10px;
    text-align: center;
}
main .box-2 .us .title-3 .fa-microchip{
    font-size: 40px;
}

main .box-2 .uv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
main .box-2 .uv .title-4{
    border-right:2px solid #060606;
    padding: 0 10px;
    font-size: 1.2em;
    text-align: center;
}
main .box-2 .uv .title-4 .fa-apple {
    font-size: 40px;
}
main .box-2 .uv .title-5{
    border-right:2px solid #060606;
    padding: 0 10px;
    text-align: center;
    font-size: 0.85em;
}
main .box-2 .uv .title-5 .bi-sd-card-fill{
    font-size: 40px;
}
main .box-2 .uv .title-6{
    padding: 0 10px;
    text-align: center;
    font-size: 0.85em;
}
main .box-2 .uv .title-6 .bi-battery-charging{
    font-size: 40px;
}

main .link {
    background: #000;
    color: white;
    position: relative;
    left: 50%;
    padding: 10px 40px;
    font-size: 1.2em;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
main .link::after,main .link::before {
    content: '';
    border: 3px solid #000;
    position: absolute;
    border-radius: inherit;
    background: #000;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    transition: all 0.25s ease;
    opacity: 0.3;
}
main .link:hover {
    transform: translate(-12px, -12px);
}
main .link:hover::after {
    transform: translate(6px, 6px);
}
main .link:hover::before {
    transform: translate(12px , 12px);
}
main .link a {
    text-decoration: none;
    color: white;
}

main .box-apple-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
    padding-top: 50px;
}
main .box-apple-1 .title .title-p{
    background: blueviolet;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bolder;
    width: 70%;
    position: relative;
    margin: 0 auto;
}

main .box-apple-1 .title .text {
    color:rgb(52, 199, 46);
    padding: 10px 20px;
}
/* footer */

footer{
    display:flex;
    background-color: #000000;
    justify-content:center;
    padding:30px 0;
}
footer .aout .title{
    font-size:1.2em;
    color:#ffffff;
    text-align: center;
}
footer .aout, footer .aout-2,footer .aout-1{
    padding: 0 50px;
}
footer .aout .text{
    font-size: 12px;
    text-align: left;
    padding-top:30px;
}
footer .aout .title-1{
    color:#ffff;
}
footer .aout .title-2{
    color: #ffffff;
    font-size: 1.2em;
}
footer .aout .title-2 .text-2{
    font-size: 12px;
}
footer .aout .title-1{
    font-size: 1.2em;
}
footer .aout .title-1 .text-1{
    font-size: 12px;
}
footer .aout-1 .title{
    color:#ffffff;
    text-align: center;
    font-size: 1.2em;
}
footer .aout-1 .text{
    text-align: left;
    font-size: 12px;
    padding-top: 30px;
}
footer .aout-2 .title{
    color:#ffffff;
    text-align: center;
    font-size: 1.2em;
}
footer .aout-2 .text{
    text-align:left;
    color:#ffffff;
    font-size: 12px;
    padding-left: 100px;
    padding-top: 30px;
}
footer .aout .title .color{
    background-color: #c625d0;
    width: 300px;
    height: 5px;
    position: absolute;
}
footer .aout-1 .title .color{
    background-color: #c625d0;
    width: 300px;
    height: 5px;
    position: absolute;
}
footer .aout-2 .title .color{
    background-color: #c625d0;
    width: 300px;
    height: 5px;
    position: absolute;
    margin-left: 100px;
}
footer .aout-2 .font a{
    font-size: 1.8em;
    color:#ffffff;
    margin-left: 10px;
}
footer .aout-2 .font{
    text-align: center;
    padding-top: 20px;
}


/* sm */
@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
        justify-content: center;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav .manu ul li a{
        display: block;
        text-align: center;
        color:#ffffff;
        font-weight: bold;
        margin-top: 10px;
    }
    nav .manu .uo{
        display: none;
    } 
    nav .manu ul li{
        transform: skew(0deg,10deg);
    }
    nav .manu {
        width: 100%;
        position: relative;
    }
    nav .logo{
        display: inline-block;
    }
    nav .bars{
        display: inline;
        cursor: pointer;
        text-align: center;
        border-radius: 10px;
        position: fixed;
        right: 0px;
    }
    nav .manu ul li .x-box-22, nav .manu ul li:hover .box {
        position: sticky;
        display: flex;
        justify-content: center;
        border-radius: 30px;
    }
    nav .manu ul li .x-box-22 .a-1, nav .manu ul li:hover .box .a-1{
        width: 150px;
    }
    nav .manu ul li .x-box-22 .a-1 a, nav .manu ul li:hover .box .a-1 a{
        text-align: left;
        width: 150px;
    }
    nav .manu ul li .x-box-22 .a-2 a, nav .manu ul li:hover .box .a-2 a{
        text-align: left;
        width: 150px;
    }
    nav .manu ul li .x-box-22 a, nav .manu ul li:hover .box a{
        display: block;
        font-size: 0.70em;
        color:#ffffff;
        text-align: center;
        margin-top:10px;
    }
/* main */
main .contnet{
    flex-direction: column;
}
main .contnet .box-1 .title{
    font-size: 1.2em;
}
main .box-2 .uv .title-6{
    margin:0;
    padding:0 10px;
    width: 150px;
}
main .box-2 .uv .title-4{
    padding: 0 10px;
    margin: 0;
    width: 150px;
}
main .box-2 .uv .title-5{
    padding: 0 10px;
    margin: 0;
    width: 150px;
}
main .box-2 .us .title-1{
    margin: 0;
    padding: 0 10px ;
    width: 150px;
}
main .box-2 .us .title-2{
    margin: 0;
    padding: 10px;
    width: 150px;
}
main .box-2 .us .title-3{
    margin:0;
    padding: 0 10px;
    width: 150px;
}
main .box-apple-1 .title{
    margin: 0;
}
main .box-2 .uv{
    margin: 0;
}
main .contnet .box-1 .title{
    margin: 0;
}
main .box-1 .img{
    padding: 0;
}
main .box-1 .ba-img {
    margin:0px;
}
main .box-1 .text-ba{
    padding: 0;
}
main .box-apple-1 .img img{
    width: 200px;
}
main .box-1 .text-ba{
    font-size: 0.70em;
}
main .box-apple-1 .title{
    font-size: 0.90em;
}
main .box-apple-1 .text{
    font-size: 0.90em;
}
main .apple-1 .box-apple-11 .text{
    font-size: 0.80em;
}
main .apple-1 .box-apple-22 .text p{
    font-size: 0.80em;
}
main .apple-1 .box-apple-22 .text h4{
    font-size: 0.80em;
}
main .box-2 .apple img{
    width: 100%;
}
main .box-3 img{
    width: 100%;
}

    /* footer */
    footer{
        display: block;
    }
    footer .aout-2 .text{
        padding-left: 0;
    }
    footer .aout-2 .title .color{
        margin-left: 0;
    }
}

/* xm */
@media screen and (max-width: 779px){
    nav{
        flex-direction: column;
        justify-content: center;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav .manu ul li a{
        display: block;
        text-align: center;
        color:#ffffff;
        font-weight: bold;
        margin-top: 10px;
    }
    nav .manu .uo{
        display: none;
    }
    nav .manu .see{
        display: block;
        margin-top: 30px;
        padding-top: 30px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        right: 0;
        padding-right: 20px;
        transform: skew(0deg,-10deg);
        padding-bottom: 20px;
        border-top-left-radius:30px ;
        border-bottom-right-radius: 30px;
        box-shadow: 10px -10px 25px 0px rgba(143,64,248,0.5), -10px 10px 25px 0px rgba(39,200,255,0.5);
    }
    nav .manu ul li{
        transform: skew(0deg,10deg);
    }
    nav .manu {
        width: 100%;
        position: relative;
    }
    nav .logo{
        display: inline-block;
    }
    nav .bars{
        display: inline;
        cursor: pointer;
        text-align: center;
        border-radius: 10px;
        position: fixed;
        right: 0px;
    }
    nav .manu ul li .box-2223 a{
        display:block;
        margin-top: 10px;
    }
    nav .manu ul li .img{
        text-align: center;
        position: sticky;
        display: block;
    }
    nav .manu ul li:hover .box-2223{
        position: sticky;
    }
    /* main */
    /* main */
main .contnet{
    flex-direction: column;
}
main .box-2 .uv .title-6{
    margin:0;
    padding:0 10px;
    width: 150px;
}
main .box-2 .uv .title-4{
    padding: 0 10px;
    margin: 0;
    width: 150px;
}
main .box-2 .uv .title-5{
    padding: 0 10px;
    margin: 0;
    width: 150px;
}
main .box-2 .us .title-1{
    margin: 0;
    padding: 0 10px ;
    width: 150px;
}
main .box-2 .us .title-2{
    margin: 0;
    padding: 10px;
    width: 150px;
}
main .box-2 .us .title-3{
    margin:0;
    padding: 0 10px;
    width: 150px;
}
main .box-apple-1 .title{
    margin: 0;
}
main .box-1 .text-ba{
    font-size: 0.70em;
}
main .box-apple-1 .title{
    font-size: 0.90em;
}
main .box-apple-1 .text{
    font-size: 0.90em;
}
main .apple-1 .box-apple-11 .text p{
    font-size: 0.90em;
}
main .apple-1 .box-apple-22 .text{
    font-size: 0.90em;
}
main .apple-1 .box-apple-22 .text h4{
    font-size: 0.90em;
}
main .apple-1 .box-apple-11 .title {
    font-size: 1.1em;
}
main .apple-1 .box-apple-22 .title{
    font-size: 1.1em;
}
    

    /* footer */
    footer .aout .title .color ,footer .aout-1 .title .color,footer .aout-2 .title .color{
        width: 150px;
        margin-left: 0;
    }
    footer .aout-2 .text{
        padding-left: 0;
    }
}

/* lm */
@media screen and (max-width: 980px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav .manu .uo{
        margin-left: 0;
    }
    /* main */
    /* main */
main .contnet{
    flex-direction: column;
}
main .contnet .box-1 .title{
    font-size: 1.2em;
}
main .box-2 .uv .title-6{
    margin:0;
    padding:0 10px;
    width: 150px;
}
main .box-2 .uv .title-4{
    padding: 0 10px;
    margin: 0;
    width: 150px;
}
main .box-2 .uv .title-5{
    padding: 0 10px;
    margin: 0;
    width: 150px;
}
main .box-2 .us .title-1{
    margin: 0;
    padding: 0 10px ;
    width: 150px;
}
main .box-2 .us .title-2{
    margin: 0;
    padding: 10px;
    width: 150px;
}
main .box-2 .us .title-3{
    margin:0;
    padding: 0 10px;
    width: 150px;
}
main .box-apple-1 .title{
    margin: 0;
}
    /* footer */
    footer .aout .title .color{
        width: 200px;
    }
}
@media screen and (max-width: 1115px){
    main .contnet{
        flex-direction: column;
    }
    main .box-2 .uv .title-6{
        margin:0;
        padding:0 10px;
        width: 150px;
    }
    main .box-2 .uv .title-4{
        padding: 0 10px;
        margin: 0;
        width: 150px;
    }
    main .box-2 .uv .title-5{
        padding: 0 10px;
        margin: 0;
        width: 150px;
    }
    main .box-2 .us .title-1{
        margin: 0;
        padding: 0 10px ;
        width: 150px;
    }
    main .box-2 .us .title-2{
        margin: 0;
        padding: 10px;
        width: 150px;
    }
    main .box-2 .us .title-3{
        margin:0;
        padding: 0 10px;
        width: 150px;
    }
    main .box-apple-1 .title{
        margin: 0;
    }
}