*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: saysettha ot;
}
  /* nav */
  nav{
    background-color:#060606;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    z-index: 999;
}
nav .logo img {
    width: 50px;
    height: 35px;
}
nav .logo{
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}
nav .manu ul{
    display: flex;
    margin-left: 200px;
}
nav .manu li{
    margin-left: 30px;
    list-style: none;
}
nav .manu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.80rem;
    padding: 0px 20px;
    border-radius: 30px;
    position:relative;
}

/* nav Hover */
nav .logo:hover::after{
    transform: translate(-5px, -5px);
}
nav .logo:hover::before{
    transform:translate(5px ,5px);
}
nav .logo:after,.logo::before{
    content:"";
    border: 1px solid #fff;
    position:absolute;
    border-radius:inherit;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.25s ease;
}

/* nav hover ba */
nav:hover{
    box-shadow: 10px -10px 25px 0px rgba(111, 13, 239, 0.5), -10px 10px 25px 0px rgba(14, 180, 235, 0.5);
}
nav .manu ul li a:after{
    content:'';
    position:absolute;
    width: 10%;
    opacity:0;
    height: 5px;
    background-image:linear-gradient(to right,#2aba4d,#12a2af);
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
    border-radius:20px;
    transition:0.4s;
}

/* nav manu ba */
nav .manu ul li a:hover{
    background-image: linear-gradient(225deg,#27d86c 0%, #26caf8 50%,#c625d0 100%);
    box-shadow: 10px -10px 25px 0px rgba(143,64,248,0.5), -10px 10px 25px 0px rgba(39,200,255,0.5);

}
nav .manu ul li  a:hover:after{
    width: 50%;
    height: 5px;
    opacity:1;
}


/* bars 980px 600px */
nav .bars{
    width: 40px;
    height: 40px;
    color:#FFFFFF;
    font-size: 1.5em;
    display: none;
}



/* ul li don down */
nav .manu ul li .box{
    display: none;
}
.bjo{
    position: relative;
}
nav .manu ul li .x-box-22,nav .manu ul li:hover .box{
    text-align: center;
    background-color:inherit;
    display: block;
    position: absolute;
    display: flex;
    right: -150px;
    padding-top: 10px;
    background-color: #000000;
}
nav .manu ul li .x-box-22 a,nav .manu ul li:hover .box a{
    text-decoration: none;
    color:#ffffff;
    font-size: 0.85em;
    border-radius: 10px;
    transition: all 0.50s ease;
    font-size: 0.80em;
    display:block;
    width: 200px;
    margin-top: 10px;
}
nav .manu ul li .x-box-22 .a-1 a,nav .manu ul li:hover .box .a-1 a{
    text-align: left;
}
nav .manu ul li .x-box-22 .a-2 a,nav .manu ul li:hover .box .a-2 a{
    text-align: left;
}
.x-box-22 a:after{
    content:'';
    position:absolute;
    width: 10%;
    opacity:0;
    height: 10px;
    background-image:linear-gradient(to right,#2aba4d,#12a2af);
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
    border-radius:50%;
    transition:0.4s;
}
.x-box-22 a:hover:after{
    width: 50px;
    height: 10px;
    opacity:1;
}
.x-box-22 a:hover{
    background-image: linear-gradient(225deg,#27d86c 0%, #26caf8 50%,#c625d0 100%);
    box-shadow: 10px -10px 25px 0px rgba(143,64,248,0.5), -10px 10px 25px 0px rgba(39,200,255,0.5);
    transition: all 0.50s ease;
}


nav .manu ul li .box-2223{
    text-align: center;
    position: fixed;
    display: none;
    padding-top: 10px;
    background-color: #000000;
}
nav .manu ul li .box-2223 a,nav .manu ul li:hover .box-2223 a{
    display:block;
    margin-top: 10px;
}
nav .manu ul li .img{
    text-align: center;
    position: fixed;
    display: block;
    top: 50px;
}
nav .manu ul li:hover .box-2223{
    display: block;
    text-align: center;
    position: fixed;
}
main .form{
    background-image: url(../img/Capture.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    color:#fff;
    margin: 0 300px;
    padding: 40px 60px;
}
main .form .title{
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}
main .form .name{
    text-align: center;
    padding: 20px 0;
}
main .form .name .title-name{
    font-size: 1.2em;
    font-weight: bold;
}
main input{
    border:none;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px 5px;
}
main .form .title-fname{
    text-align: center;
}
main .form .fname .title-fname select{
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
}
main .form .title-fname p{ 
    font-size: 1.5em;
    font-weight:bold;
}
.btn-4 {
    color:#fff;
    overflow:hidden;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px rgba(143,64,248,0.5), 0px 0px 0px 0px rgba(39,200,255,0.5);
}
.btn-4:hover{
    transform:translate(0,-6px);
    box-shadow: 10px -10px 25px 0px rgba(143,64,248,0.5), -10px 10px 25px 0px rgba(39,200,255,0.5);
}
.btn-4:hover::after{
    transform: rotate(150deg);
}
.btn-4::after{
    content:"";
    width:400px;
    height:400px;
    position: absolute;
    top: -50px;
    left:-100px;
    background-color:#ff3cac;
    background-image: linear-gradient(225deg,#27d86c 0%, #26caf8 50%,#c625d0 100%);
    z-index:-1;
    transition: all 0.25s ease;
}
button{
    padding: 10px 50px;
    cursor: pointer;
    position: relative;
    transition: all 0.25s ease;
    background-color: #27d86c;
    border:none;
}
main .form .font{
    font-size:4.3em;
    text-align: center;
}

/* footer */

footer{
    display:flex;
    background-color: #000000;
    justify-content:center;
    padding:30px 0;
}
footer .aout .title{
    font-size:1.2em;
    color:#ffffff;
    text-align: center;
}
footer .aout, footer .aout-2,footer .aout-1{
    padding: 0 50px;
}
footer .aout .text{
    font-size: 12px;
    text-align: left;
    padding-top:30px;
}
footer .aout .title-1{
    color:#ffff;
}
footer .aout .title-2{
    color: #ffffff;
    font-size: 1.2em;
}
footer .aout .title-2 .text-2{
    font-size: 12px;
}
footer .aout .title-1{
    font-size: 1.2em;
}
footer .aout .title-1 .text-1{
    font-size: 12px;
}
footer .aout-1 .title{
    color:#ffffff;
    text-align: center;
    font-size: 1.2em;
}
footer .aout-1 .text{
    text-align: left;
    font-size: 12px;
    padding-top: 30px;
}
footer .aout-2 .title{
    color:#ffffff;
    text-align: center;
    font-size: 1.2em;
}
footer .aout-2 .text{
    text-align:left;
    color:#ffffff;
    font-size: 12px;
    padding-left: 100px;
    padding-top: 30px;
}
footer .aout .title .color{
    background-color: #c625d0;
    width: 300px;
    height: 5px;
    position: absolute;
}
footer .aout-1 .title .color{
    background-color: #c625d0;
    width: 300px;
    height: 5px;
    position: absolute;
}
footer .aout-2 .title .color{
    background-color: #c625d0;
    width: 300px;
    height: 5px;
    position: absolute;
    margin-left: 100px;
}
footer .aout-2 .font a{
    font-size: 1.8em;
    color:#ffffff;
    margin-left: 10px;
}
footer .aout-2 .font{
    text-align: center;
    padding-top: 20px;
}


/* sm */
@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
        justify-content: center;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav .manu ul li a{
        display: block;
        text-align: center;
        color:#ffffff;
        font-weight: bold;
        margin-top: 10px;
    }
    nav .manu .uo{
        display: none;
    }
    nav .manu .see{
        display: block;
        margin-top: 30px;
        padding-top: 30px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        right: 0;
        padding-right: 20px;
        transform: skew(0deg,-10deg);
        padding-bottom: 20px;
        border-top-left-radius:30px ;
        border-bottom-right-radius: 30px;
        box-shadow: 10px -10px 25px 0px rgba(143,64,248,0.5), -10px 10px 25px 0px rgba(39,200,255,0.5);
    }
    nav .manu ul li{
        transform: skew(0deg,10deg);
    }
    nav .manu {
        width: 100%;
        position: relative;
    }
    nav .logo{
        display: inline-block;
    }
    nav .bars{
        display: inline;
        cursor: pointer;
        text-align: center;
        border-radius: 10px;
        position: fixed;
        right: 0px;
    }
    nav .manu ul li .x-box-22, nav .manu ul li:hover .box {
        position: sticky;
        display: flex;
        justify-content: center;
        border-radius: 30px;
    }
    nav .manu ul li .x-box-22 .a-1, nav .manu ul li:hover .box .a-1{
        width: 150px;
    }
    nav .manu ul li .x-box-22 .a-1 a, nav .manu ul li:hover .box .a-1 a{
        text-align: left;
        width: 150px;
    }
    nav .manu ul li .x-box-22 .a-2 a, nav .manu ul li:hover .box .a-2 a{
        text-align: left;
        width: 150px;
    }
    nav .manu ul li .x-box-22 a, nav .manu ul li:hover .box a{
        display: block;
        font-size: 0.70em;
        color:#ffffff;
        text-align: center;
        margin-top:10px;
    }
/* main */
    main {
        margin:0;
        padding: 0;
        width: 100%;
    }
    main .form{
        margin: 0;
        padding-top: 20px;
        width: 100%;
    }
    main label{
        display: block;
    }

    /* footer */
    footer{
        display: block;
    }
    footer .aout-2 .text{
        padding-left: 0;
    }
    footer .aout-2 .title .color{
        margin-left: 0;
    }
}

/* xm */
@media screen and (max-width: 779px){
    nav{
        flex-direction: column;
        justify-content: center;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav .manu ul li a{
        display: block;
        text-align: center;
        color:#ffffff;
        font-weight: bold;
        margin-top: 10px;
    }
    nav .manu .uo{
        display: none;
    }
    nav .manu .see{
        display: block;
        margin-top: 30px;
        padding-top: 30px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        right: 0;
        padding-right: 20px;
        transform: skew(0deg,-10deg);
        padding-bottom: 20px;
        border-top-left-radius:30px ;
        border-bottom-right-radius: 30px;
        box-shadow: 10px -10px 25px 0px rgba(143,64,248,0.5), -10px 10px 25px 0px rgba(39,200,255,0.5);
    }
    nav .manu ul li{
        transform: skew(0deg,10deg);
    }
    nav .manu {
        width: 100%;
        position: relative;
    }
    nav .logo{
        display: inline-block;
    }
    nav .bars{
        display: inline;
        cursor: pointer;
        text-align: center;
        border-radius: 10px;
        position: fixed;
        right: 0px;
    }
    nav .manu ul li .x-box-22, nav .manu ul li:hover .box {
        position: sticky;
        display: flex;
        justify-content: center;
        border-radius: 30px;
    }
    nav .manu ul li .x-box-22 .a-1, nav .manu ul li:hover .box .a-1{
        width: 150px;
    }
    nav .manu ul li .x-box-22 .a-1 a, nav .manu ul li:hover .box .a-1 a{
        text-align: left;
        width: 150px;
    }
    nav .manu ul li .x-box-22 .a-2 a, nav .manu ul li:hover .box .a-2 a{
        text-align: left;
        width: 150px;
    }
    nav .manu ul li .x-box-22 a  nav .manu ul li:hover .box a{
        display: block;
        font-size: 0.70em;
        color:#ffffff;
        text-align: center;
        margin-top:10px;
    }

    nav .manu ul li .box-2223 a{
        display:block;
        margin-top: 10px;
    }
    nav .manu ul li .img{
        text-align: center;
        position: sticky;
        display: block;
    }
    nav .manu ul li:hover .box-2223{
        position: sticky;
    }
    /* main */
    /* main */
    main {
        margin:0;
        padding: 0;
        width: 100%;
    }
    main .form{
        margin: 0;
        padding-top: 20px;
        width: 100%;
    }
    main label{
        display: block;
    }
    /* footer */
    footer .aout .title .color ,footer .aout-1 .title .color,footer .aout-2 .title .color{
        width: 150px;
        margin-left: 0;
    }
    footer .aout-2 .text{
        padding-left: 0;
    }
}

/* lm */
@media screen and (max-width: 980px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav .manu .uo{
        margin-left: 0;
    }
    main .form{
        margin: 0;
        padding-top: 20px;
        width: 100%;
    }
    /* footer */
    footer .aout .title .color{
        width: 200px;
    }
}
@media screen and (max-width: 1115px){
    main .contnet{
        flex-direction: column;
    }
    main .box-2 .uv .title-6{
        margin:0;
        padding:0 10px;
        width: 150px;
    }
    main .box-2 .uv .title-4{
        padding: 0 10px;
        margin: 0;
        width: 150px;
    }
    main .box-2 .uv .title-5{
        padding: 0 10px;
        margin: 0;
        width: 150px;
    }
    main .box-2 .us .title-1{
        margin: 0;
        padding: 0 10px ;
        width: 150px;
    }
    main .box-2 .us .title-2{
        margin: 0;
        padding: 10px;
        width: 150px;
    }
    main .box-2 .us .title-3{
        margin:0;
        padding: 0 10px;
        width: 150px;
    }
    main .box-apple-1 .title{
        margin: 0;
    }
}